@import url('https:fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Pure-White: #FFF;
    --aluminium-grey: #878C8F;
    --nero-dark: #202020;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-size: 100px;
    color: var(--Pure-White, #FFF);
    text-align: center;
    text-shadow: 0px 2px 10px rgba(32, 32, 32, 0.50);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h2 {
    color: var(--nero-dark);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2.white {
    color: var(--Pure-White);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: var(--Pure-White);
    text-align: center;
    text-shadow: 0px 2px 10px rgba(32, 32, 32, 0.50);

    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3.dark {
    color: var(--nero-dark);
    text-align: center;
    text-shadow: 0px 2px 10px rgba(32, 32, 32, 0.50);

    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h6 {
    color: var(--nero-dark);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    /* 170% */
}

h6.white {
    color: var(--Pure-White);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    /* 170% */
}

p{
    color: var(--Pure-White);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
   
    /* 194.444% */
}

p.dark {
    color: var(--nero-dark);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    /* 194.444% */
}

p.gray {
    color: var(--aluminium-grey);
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    /* 194.444% */
}
span{
    color: var(--Pure-White);
    text-align: center;
    text-shadow: 0px 2px 10px rgba(32, 32, 32, 0.50);
    font-size: 44px;
    font-style: normal;
    font-weight: 300;
    line-height: normal
}

span.dark{
    color: var(--nero-dark);
    text-align: center;
    text-shadow: 0px 2px 10px rgba(32, 32, 32, 0.50);
    font-size: 44px;
    font-style: normal;
    font-weight: 300;
    line-height: normal
}
.main-title{
    position: relative;
    padding-bottom: 20px;
}
.main-title.white-title::before {
    background: #FFFFFF;
}

.main-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(135deg, #202020 0%, rgba(32, 32, 32, 0.92) 100%);
    max-width: 680px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    h1 {
        font-weight: 600;
    }

    @media (min-width: 374px) and (max-width: 575.98px) {
        /* CSS rules */
    }
}
.wr-container {
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

/* header */
.header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 30px 0;
}

header .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-header .right-btn-wrap {
    display: flex;
    align-items: center;
}

header .middle-header-wrap {
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: space-between;
}

header .middle-header-wrap .wr-menu-wrap .close-menu {
    display: none;
    cursor: pointer;
}

header .middle-header-wrap .wr-menu-wrap ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
    list-style: none;
}

header .middle-header-wrap .wr-menu-wrap ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 0;
    transition: all 0.5s ease-in-out;
}

header .middle-header-wrap .wr-menu-wrap ul li:after {
    clear: both;
    display: block;
    content: "";
}

header .middle-header-wrap .wr-menu-wrap ul li.current-menu-item a::before {
    width: 100%;
}

header .middle-header-wrap .wr-menu-wrap ul li a:hover::before {
    width: 100%;
}

header .middle-header-wrap .wr-menu-wrap ul li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
    position: relative;
    display: block;
    text-decoration: none;
}

header .middle-header-wrap .wr-menu-wrap ul li.mobile-view {
    display: none;
}

header .right-btn-wrap {
    gap: 15px;
}

header .right-btn-wrap .main-btn {
    height: 48px;
    line-height: 48px;
    padding: 0 18px;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    min-width: 180px;
    border: 1px solid transparent;
}

header .right-btn-wrap .main-btn.border-btn.white-border {
    border-color: #FFFFFF;

}

header .right-btn-wrap .main-btn.border-btn.white-border {
    background: transparent;
    color: #FFF !important;
}

header .right-btn-wrap .main-btn.border-btn:hover {
    opacity: 1;
}

header .right-btn-wrap .main-btn.white-btn {
    background: #FFFFFF;
    color: #202020 !important;
}

header .right-btn-wrap .main-btn.border-btn.white-border:hover {
    background: #FFFFFF;
    color: #202020 !important;
}

header .middle-header-wrap .right-cart-wrap {
    padding-right: 30px;
    position: relative;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

/* header */

/* 
@media only screen and (max-width: 767px){
header .right-btn-wrap {
    display: none !important;
}}


@media (max-width: 767px){
header .middle-header-wrap .nav-menu {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/menu.svg);
}
}
@media (max-width: 767px){
header .middle-header-wrap .wr-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    z-index: 999;
    transition: all 0.5s ease-in-out;
    transform: translateX(100%);
    min-height: 100vh;
    height: 100%;
    overflow: auto;
}}

@media (max-width: 767px){
header .middle-header-wrap.right-cart-wrap{
font-size: 0
}
}

@media only screen and (max-width: 767px){
header .middle-header-wrap .wr-menu-wrap ul {
    display: block;
    margin-top: 10px;
}}
@media only screen and (max-width: 767px){
header .middle-header-wrap .wr-menu-wrap ul li a {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #202020;
    padding: 0;
}}
@media (max-width: 767px){
header .middle-header-wrap .wr-menu-wrap .close-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}} */
/* header */
/* banner section */
.wr-home-banner {
    position: relative;
    height: 864px;
    padding: 0;
}

.wr-home-banner .wr-home-video-banner {
    height: 100%;
    position: relative;
}

.wr-home-banner .opacity-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #202020;
    z-index: 1;
}

.wr-home-banner .wr-home-video-banner video {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.wr-home-banner .wr-center-content {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    max-width: 1050px;
    width: 100%;
    text-align: center;
}

.wr-home-banner .wr-bottom-content {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    max-width: 1050px;
    width: 100%;
    color: var(--pure-white);

}

.wr-home-banner .wr-bottom-content p {
    padding-bottom: 10px;
}

.wr-home-banner .wr-bottom-content .bottom-options {
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.11);
    max-width: 660px;
    width: 100%;
    margin: 0 auto;
}

.wr-home-banner .wr-bottom-content .bottom-options .options {
    display: flex;
    gap: 30px;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.wr-home-banner .wr-bottom-content .bottom-options .options h6 {
    color: var(--Pure-White);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.wr-home-banner .wr-bottom-content .bottom-options .enter-city {
    position: relative;
}

.wr-home-banner .wr-bottom-content .bottom-options .enter-city input {
    border: none;
    max-width: 660px;
    width: 100%;
    background: transparent;
    padding-bottom: 10px;
    position: relative;
}

.wr-home-banner .wr-bottom-content .bottom-options .enter-city input::placeholder {
    color: var(--Pure-White);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.wr-home-banner .wr-bottom-content .bottom-options .enter-city button {
    position: absolute;
    left: 98%;
    background: transparent;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;

}

.wr-home-banner .wr-bottom-content .bottom-options .enter-city .bottom-line {
    max-width: 620px;
    width: 100%;
    height: 1px;
    background-color: var(--Pure-White);
}

/* banner section */

/* specialize section */
.wr-specialize {
    position: relative;
    padding: 75px 0 75px;
}

.wr-specialize .main-title {
    text-align: center;
}



.wr-specialize .content {
    position: relative;
    margin: 0 auto;
    max-width: max-content;
    padding-top: 35px;
}

.wr-specialize .content h6 {
    color: var(--nero-dark, #202020);

    /* Body/Body 4 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    /* 194.444% */
}

.bullet-points {
    position: relative;
    padding-left: 20px;
    /* Adjust the spacing between the bullet point and text */
}

.bullet-points::before {
    content: "\2022";
    /* Unicode for bullet point */
    position: absolute;
    left: 0;
}

.wr-specialize .content .wow.fadeInUp {
    color: var(--aluminium-grey, #878C8F);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

    line-height: normal;
}

/* specialize section */

/* expertise section */
.wr-expertise {
    background: var(--Dark-Gradient, linear-gradient(135deg, #202020 0%, rgba(32, 32, 32, 0.92) 100%));
    padding: 125px 0 125px;

}





.wr-expertise .row {
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.wr-expertise .row:nth-child(2) {
    margin-top: 150px;
    /* Remove margin bottom from the third row */
}

.wr-expertise .row:nth-child(4) {
    margin-bottom: 75px;
    /* Remove margin bottom from the third row */
}

.wr-expertise .top-text {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: -75px;
    z-index: 1;
}



.wr-expertise .row .img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wr-expertise .row .text {
    max-width: 525px;
    width: 100%;
    color: #FFF;
    margin: auto;
}

.wr-expertise .row .text p {
    color: var(--Pure-White, #FFF);
    /* Body/Body 5 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    line-height: 35px;
}



.wr-expertise .bottom-button h6 {
    color: #F3F3F3;
    text-align: center;

    /* Heading/Heading 6 */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 35px;
    /* 170% */
}

.wr-expertise .bottom-button .about-btn {
    padding: 14px 71px;
    background-color: var(--Pure-White);
    min-width: 214px;
    margin: 0 auto;
    display: table;
}

.wr-expertise .bottom-button .about-btn {
    color: var(--nero-dark);
    text-align: center;

    text-decoration: none;
    /* Body/Body 8 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* expertise section */

/* propertise section */
.wr-propertise {
    padding: 125px 0 125px;

}

.wr-propertise .wr-container {
    position: relative;
}



.wr-propertise .main-title.white-title::before {
    background: #202020;
}

.wr-propertise .propertise-options {
    margin-top: 50px;
}

.wr-propertise .propertise-options ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 50px;
    list-style: none;
    justify-content: center;
}

.wr-propertise .propertise-options ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #202020;
    margin: 0 auto;
    width: 0;
    transition: all 0.5s ease-in-out;
}


.wr-propertise .propertise-options ul li:after {
    clear: both;
    display: block;
    content: "";
}

.wr-propertise .propertise-options ul li.current-pro-item a::before {
    width: 100%;
}

.wr-propertise .propertise-options .current-pro-item a {
    color: #202020;
}

.wr-propertise .propertise-options ul li a:hover::before {
    width: 100%;
}

.wr-propertise .propertise-options ul li a:hover {
    color: #202020;
}

.wr-propertise .propertise-options ul li a {
    color: var(--aluminium-grey, #878C8F);
    /* Body/Body 8 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    position: relative;
    padding-bottom: 10px;
    display: block;
    line-height: normal;
}

.wr-propertise .pro-slider {
    margin-top: 50px;
}

.slides {

    height: 200px;
    overflow: hidden;
    bottom: 0;
}

.center .slick-slide {

    height: 500px;
}

.center .slick-center img {
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.0);
    width: 740px;
    height: 414px;
    color: #e67e22;
    opacity: 1;
    /* Adjust the scale as needed */
    transition: transform 0.5s ease;
    /* Add a transition effect */
}

.center img {
    opacity: 0.8;
    transition: all 300ms ease;
    bottom: 0;
    transform: scale(0.9);
}

/* .text-container {
    position: absolute;
    bottom: 20px;
    
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-size: 50px;

    border-radius: 5px;
    font-size: 16px;
    color: #d81d1d;
} */

/* properties section */

/* profesionals section */
.wr-professionals {
    padding: 125px 0 125px;
}


.wr-professionals .main-title.white-title::before {
    background: #202020;
}


/* .wr-professionals .d-content .o-info{
    position: relative;
    cursor: pointer;
}

.wr-professionals .d-content .o-info img{
    display: block;
}
.wr-professionals .d-content .o-info .pos-info{
    max-width: 280px;
    width: 100%;
    padding: 10px 5px;
    position: absolute;
	bottom: 0;
	left: 0;
   
	width: 100%;
	height: 50%;
}
.wr-professionals .d-content .o-info .pos-info h6, p{
    transform: translate3d(0,40px,0);
}
.wr-professionals .d-content .o-info .pos-info h6{
    transition: transform 0.35s;
    -webkit-transition: -webkit-transform 0.35s;
}
.wr-professionals .d-content .o-info .pos-info p{
    color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}
.wr-professionals .d-content .o-info .pos-info p:hover{
    opacity: 1;
}
.wr-professionals .d-content .o-info h6,
.wr-professionals .d-content .o-info p{
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.wr-professionals .d-content .o-info:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
} */
.wr-professionals .d-content .o-info .o-detail {
    background-color: #FFF;


}

.wr-professionals .p-title {
    margin-top: 75px;
    text-align: center;
}

.wr-professionals .p-title2 {
    margin-top: 50px;
    text-align: center;

}

.wr-professionals .d-content {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 35px;
}

/* profesionals section */

/* form section */
.wr-form {
    background: var(--Dark-Gradient, linear-gradient(135deg, #202020 0%, rgba(32, 32, 32, 0.92) 100%));
    padding: 75px 0 75px;

}

.wr-form .wr-container {
    display: flex;
    justify-content: space-between;
}

.wr-form .img {
    margin-top: auto;
    margin-bottom: auto;
}

.wr-form .f-contant {
    max-width: 470px;
    width: 100%;
    background-color: #fff;
    padding: 50px 35px;
}

.wr-form .f-contant .top-title {

    padding-bottom: 10px;
    border-bottom: 2px solid black;
    color: var(--nero-dark, #202020);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    /* 170% */
}

.wr-form .f-contant form {
    margin-top: 15px;
}

.wr-form .f-contant .title .t-input input {
    border: none;
    max-width: 470px;
    width: 100%;
    border-bottom: 1px solid #878C8F;
    padding-bottom: 10px;
    margin-top: 20px;
}

.wr-form .f-contant .title .t-input input::placeholder {
    color: var(--aluminium-grey, #878C8F);

    /* Subtitle/Subtitle 5 */
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* form section */


/* footer */
footer {
    padding: 75px 0 0;
}

footer .wr-footer-logo {
    margin-bottom: 30px;
}

footer .row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding-top: 50px;
    border-top: 1px solid #202020;
}

footer .footer-contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--aluminium-grey, #878C8F);

    /* Subtitle/Subtitle 1 */
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .footer-contact-info a{
    text-decoration: none;
    color: var(--aluminium-grey, #878C8F);

  
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
footer .footer-contact-info p{
    text-decoration: none;
    color: var(--aluminium-grey, #878C8F);

  
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

footer .footer-title {
    font-size: 20px;
    color: #202020;
    text-align: left;

}

footer ul {
    padding-left: 0px;
}

footer ul li {
    list-style: none;
    padding-bottom: 19px;

}

footer ul li a {
    text-decoration: none;
    color: var(--aluminium-grey, #878C8F);

    /* Subtitle/Subtitle 1 */
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.go-to-top.show {
    opacity: 1;
    transform: translateX(0);
}

.go-to-top {
    position: fixed;
    right: 130px;
    bottom: 50px;
    color: #878C8F !important;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding-right: 24px;
    cursor: pointer;
    z-index: 998;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
}

.go-to-top:hover::before {
    height: 46px;
}

.go-to-top::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 22px;
    background: url(../images/home/arrow.svg) no-repeat center top;
    transition: all 0.5s ease-in-out;
}

footer .copy-right-wrap p {
    color: var(--nero-dark, #202020);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;

    margin-top: 60px;
}

/* footer */





/* about page start */

/* about banner */

.wr-about-banner {
    position: relative;
    height: 864px;
    padding: 0;
}

.wr-about-banner .wr-about-video-banner {
    height: 100%;
    position: relative;
}

.wr-about-banner .opacity-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #202020;
    z-index: 1;
}

.wr-about-banner .wr-about-video-banner video {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.wr-about-banner .wr-about-center-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1050px;
    width: 100%;
    text-align: center;
}



.wr-blogs-banner {
    position: relative;
    height: 864px;
    padding: 0;
}

.wr-blogs-banner .wr-blogs-video-banner {
    height: 100%;
    position: relative;
}

.wr-blogs-banner .opacity-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #202020;
    z-index: 1;
}

.wr-blogs-banner .wr-blogs-video-banner video {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.wr-blogs-banner .wr-blogs-center-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1050px;
    width: 100%;
    text-align: center;
}




.c-blog-content {
    padding: 75px 0 25px;
}

.c-blog-content .wr-container {
    position: relative;
}

.c-blog-content .c-image {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
}

.c-blog-content .c-image img {
    max-width: 840px;
    width: 100%;
}

.c-blog-content .blog-info {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.c-blog-content .blog-info .date {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.c-blog-content .blog-info .date span {

    color: var(--aluminium-grey);


    /* Subtitle/Subtitle 2 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}

.c-blog-content .blog-info h4 {
    color: var(--nero-dark);

    /* Heading/Heading 5 */
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    padding-bottom: 10px;
    font-weight: 500;
    line-height: normal;
}

.c-blog-content .blog-info p {
    color: var(--aluminium-grey);

    /* Body/Body 5 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 10px;
    /* 194.444% */
}

/* readmore button animation */
.c-blog-content .blog-info .read-more-button a {
    position: absolute;
    left: 0%;
    bottom: 0%;
    margin-bottom: -39px;
    z-index: 2;
    text-decoration: none
}

.c-blog-content .blog-info .read-more-button a .text {
    color: var(--nero-dark, #202020);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    padding: 0 38px 26px 0;
    transition: all 0.5s ease-in-out;
}

.c-blog-content .blog-info .read-more-button a:hover .text {
    padding-right: 12px;
    padding-left: 12px;

}

.c-blog-content .blog-info .read-more-button a:hover .text::before {
    width: 125px;
}

.c-blog-content .blog-info .read-more-button a .text::before {
    content: "";
    position: absolute;
    right: -15px;
    bottom: -15px;
    width: 110px;
    height: 52px;
    background: url(../images/blogs/arrow1.svg) no-repeat right;
    background-size: 125px;
    transition: all 0.5s ease-in-out;
}

/* readmore button animation */

.c-blog-content .blogs-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 100px;


}

.c-blog-content .blogs-container .blogs {
    max-width: 495px;
    width: 100%;
    position: relative;
}



.c-blog-content .blogs-info .date {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.c-blog-content .blogs-info .date span {

    color: var(--aluminium-grey);


    /* Subtitle/Subtitle 2 */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}

.c-blog-content .blogs-info h6 {
    color: var(--nero-dark);

    /* Heading/Heading 5 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    padding-bottom: 10px;
    font-weight: 500;
    line-height: normal;
}

.c-blog-content .blogs-info p {
    color: var(--aluminium-grey);

    /* Body/Body 5 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 10px;
    /* 194.444% */
}

/* readmore button animation */
.c-blog-content .blogs-info .read-more-button-2 {
    margin-bottom: 30px;
}

.c-blog-content .blogs-info .read-more-button-2 a {
    position: absolute;
    left: 0%;
    bottom: 0%;

    z-index: 2;
    text-decoration: none
}

.c-blog-content .blogs-info .read-more-button-2 a .text {
    color: var(--nero-dark, #202020);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    padding: 0 38px 20px 0;
    transition: all 0.5s ease-in-out;
}

.c-blog-content .blogs-info .read-more-button-2 a:hover .text {
    padding-right: 12px;
    padding-left: 12px;

}

.c-blog-content .blogs-info .read-more-button-2 a:hover .text::before {
    width: 100px;
}

.c-blog-content .blogs-info .read-more-button-2 a .text::before {
    content: "";
    position: absolute;
    right: -5px;
    bottom: -15px;
    width: 100px;
    height: 52px;
    background: url(../images/blogs/arrow1.svg) no-repeat right;
    background-size: 100px;
    transition: all 0.5s ease-in-out;
}

/* readmore button animation */








.wr-events-banner {
    position: relative;
    height: 864px;
    padding: 0;
}

.wr-events-banner .wr-events-video-banner {
    height: 100%;
    position: relative;
}

.wr-events-banner .opacity-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #202020;
    z-index: 1;
}

.wr-events-banner .wr-events-video-banner video {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.wr-events-banner .wr-events-center-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1050px;
    width: 100%;
    text-align: center;
}



.c-event-content {
    padding: 75px 0 25px;


}

.c-event-content .wr-container {
    position: relative;
}

.c-event-content .wr-event {
    position: relative;
    margin: 0 auto;
    max-width: 840px;
    width: 100%;
}

.c-event-content .bg {
    background-image: url(../images/events/event-bg.png);
    background-position: center 6%;

    width: 100%;
    background-repeat: no-repeat;
}

.c-event-content .wr-event .c-image {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.c-event-content .event-info h4 {
    color: var(--nero-dark);

    /* Heading/Heading 5 */
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    padding-bottom: 10px;
    font-weight: 500;
    line-height: normal;
}

.c-event-content .event-info p {
    color: var(--aluminium-grey);

    /* Body/Body 5 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 10px;
    /* 194.444% */
}

/* readmore button animation */
.c-event-content .event-info .read-more-button a {
    position: absolute;
    right: 4%;
    bottom: 32%;

    z-index: 2;
    text-decoration: none
}

.c-event-content .event-info .read-more-button a .text {
    color: var(--Pure-White);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    padding: 0 38px 26px 0;
    transition: all 0.5s ease-in-out;
}

.c-event-content .event-info .read-more-button a:hover .text {
    padding-right: 12px;
    padding-left: 12px;

}

.c-event-content .event-info .read-more-button a:hover .text::before {
    width: 125px;
}

.c-event-content .event-info .read-more-button a .text::before {
    content: "";
    position: absolute;
    right: -15px;
    bottom: -15px;
    width: 100px;
    height: 52px;
    background: url(../images/events/arrow.svg) no-repeat right;
    background-size: 130px;
    transition: all 0.5s ease-in-out;
}

/* readmore button animation */

.c-event-content .events-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 100px;


}

.c-event-content .events-container .events {
    max-width: 495px;
    width: 100%;
    position: relative;
}

.c-event-content .events-container .events .b-image {
    position: relative;
}

.c-event-content .events-container .events .b-image img {
    max-width: 495px;
    width: 100%;
}







.c-event-content .events-info h6 {
    color: var(--nero-dark);

    /* Heading/Heading 5 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    padding-bottom: 10px;
    font-weight: 500;
    line-height: normal;
}

.c-event-content .events-info p {
    color: var(--aluminium-grey);

    /* Body/Body 5 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 10px;
    /* 194.444% */
}

/* readmore button animation */

.c-event-content .events-info .read-more-button-2 a {
    position: absolute;
    right: 3%;
    bottom: 35%;

    z-index: 2;
    text-decoration: none
}

.c-event-content .events-info .read-more-button-2 a .text {
    color: var(--Pure-White);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    padding: 0 38px 20px 0;
    transition: all 0.5s ease-in-out;
}

.c-event-content .events-info .read-more-button-2 a:hover .text {
    padding-right: 12px;
    padding-left: 12px;

}

.c-event-content .events-info .read-more-button-2 a:hover .text::before {
    width: 120px;
}

.c-event-content .events-info .read-more-button-2 a .text::before {
    content: "";
    position: absolute;
    right: -5px;
    bottom: -15px;
    width: 100px;
    height: 52px;
    background: url(../images/events/arrow.svg) no-repeat right;
    background-size: 125px;
    transition: all 0.5s ease-in-out;
}

/* readmore button animation */






.wr-developers-banner {
    position: relative;
    height: 864px;
    padding: 0;
}

.wr-developers-banner .wr-developers-video-banner {
    height: 100%;
    position: relative;
}

.wr-developers-banner .opacity-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #202020;
    z-index: 1;
}

.wr-developers-banner .wr-developers-video-banner video {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.wr-developers-banner .wr-developers-center-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1050px;
    width: 100%;
    text-align: center;
}



.wr-at {
    position: relative;
    padding: 75px 0 105px;
}

.wr-at .main-title {
    text-align: center;
}

.wr-at .content {
    position: relative;
    margin: 0 auto;
    max-width: max-content;
    padding-top: 35px;
    max-width: 960px;
    text-align: center;
}

/* specialize section */

/* expertise section */
.wr-dev-ops {
    background: var(--Dark-Gradient, linear-gradient(135deg, #202020 0%, rgba(32, 32, 32, 0.92) 100%));
    padding: 125px 0 125px;

}


.wr-dev-ops .main-title.white-title h3 {
    color: var(--Pure-White, #FFF);
    text-align: center;

    /* Heading/Heading 6 */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    /* 170% */
}

.wr-dev-ops .main-title.white-title::before {
    background: #FFFFFF;
}


.wr-dev-ops .row {
    margin-bottom: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.wr-dev-ops .row:nth-child(2) {
    margin-bottom: 0px;
    /* Remove margin bottom from the third row */
}

.wr-dev-ops .row .img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wr-dev-ops .row .text {
    max-width: 525px;
    width: 100%;
    color: #FFF;
    margin: auto;
}

.wr-dev-ops .row .text p {
   
    text-align: left;
  
}

/* expertise section */








.wr-commercial-banner {
    position: relative;
    height: 864px;
    padding: 0;
}

.wr-commercial-banner .wr-commercial-video-banner {
    height: 100%;
    position: relative;
}

.wr-commercial-banner .opacity-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #202020;
    z-index: 1;
}

.wr-commercial-banner .wr-commercial-video-banner video {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.wr-commercial-banner .wr-commercial-center-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1240px;
    width: 100%;
    text-align: center;
}



.wr-com {
    position: relative;
    padding: 75px 0 70px;
}

.wr-com .main-title {
    text-align: center;
}




.wr-com .content {
    position: relative;
    margin: 0 auto;
    max-width: max-content;
    padding-top: 35px;
    max-width: 960px;
    text-align: center;
}


.wr-com .content .wow.fadeInUp {
    color: var(--aluminium-grey, #878C8F);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 35px;
    line-height: normal;
}

/* specialize section */

/* expertise section */




.wr-commercial .main-title.white-title::before {
    background: #FFFFFF;
}

.wr-commercial {
    background: var(--Dark-Gradient, linear-gradient(135deg, #202020 0%, rgba(32, 32, 32, 0.92) 100%));
    padding: 125px 0 125px;

}








.wr-commercial .row {
    margin-bottom: 75px;
    display: grid;
    margin-top: 75px;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.wr-commercial .row:nth-child(3) {
    margin-bottom: 0px;
    /* Remove margin bottom from the third row */
}

.wr-commercial .row .img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wr-commercial .row .text {
    max-width: 525px;
    width: 100%;
    color: #FFF;
    margin: auto;
}

.wr-commercial .row .text p {
    text-align: left;  
}

.wr-options {
    padding: 125px 0 125px;
}

.wr-options .main-title.white-title::before {
    background: var(--nero-dark);
}

.wr-options .four-op {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    justify-content: center;
    margin-top: 75px;
}

.wr-options .content {
    position: relative;
    margin: 0 auto;
    max-width: max-content;
    padding-top: 35px;
    width: 100%;
    max-width: 960px;
    text-align: center;
}



.wr-group {
    padding: 125px 0 125px;
    background-color: #202020;
}

.wr-group .content {
    position: relative;
    margin: 0 auto;
    padding-top: 35px;
    width: 100%;
    max-width: 960px;
    text-align: center;
}

.wr-group .content .group {
    padding: 35px 0 35px;
}

.wr-group .content p {
   
    line-height: 35px;
    /* 194.444% */
}


.wr-team {
    padding: 75px 0 75px;

}

.wr-team .main-title.white-title::before {
    background: var(--nero-dark);
}

.wr-team .content {
    position: relative;
    margin: 0 auto;
    max-width: max-content;
    padding-top: 35px;
    width: 100%;
    max-width: 960px;
    text-align: center;
}

.wr-team .team {
    padding-top: 75px;
    margin: 0 auto;
    max-width: 677px;
    width: 100%;
}

.wr-team .content p {
    /* Body/Body 5 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    /* 194.444% */
}

.wr-dev-ops .main-title.white-title::before {
    background: var(--Pure-White);
}